<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<false/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>zero</string>
				<string>one</string>
				<string>one_unit</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>B</string>
				<string>D</string>
				<string>F</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>Y</string>
				<string>Z</string>
				<string>Acounter</string>
				<string>B-counter</string>
				<string>Ccounter</string>
				<string>D-counter</string>
				<string>Gcounter</string>
				<string>Hcounter</string>
				<string>Hsides</string>
				<string>M-counter</string>
				<string>Ocounter</string>
				<string>Xcounter</string>
				<string>Zcounter</string>
				<string>bifurcates</string>
				<string>ecounter</string>
				<string>half_unit</string>
				<string>pattern01</string>
				<string>three-counter</string>
				<string>J.mark</string>
				<string>N.mark</string>
				<string>R.mark</string>
				<string>S.mark</string>
				<string>T.mark</string>
				<string>U.mark</string>
				<string>C.mark</string>
				<string>G.mark</string>
				<string>ampersand.mark</string>
				<string>zero.v2</string>
				<string>one.v2</string>
				<string>two.v2</string>
				<string>three.v2</string>
				<string>four.v2</string>
				<string>five.v2</string>
				<string>six.v2</string>
				<string>seven.v2</string>
				<string>eight.v2</string>
				<string>nine.v2</string>
				<string>A.v2</string>
				<string>B.v2</string>
				<string>C.v2</string>
				<string>D.v2</string>
				<string>E.v2</string>
				<string>F.v2</string>
				<string>G.v2</string>
				<string>H.v2</string>
				<string>I.v2</string>
				<string>J.v2</string>
				<string>K.v2</string>
				<string>L.v2</string>
				<string>M.v2</string>
				<string>N.v2</string>
				<string>O.v2</string>
				<string>P.v2</string>
				<string>Q.v2</string>
				<string>R.v2</string>
				<string>S.v2</string>
				<string>T.v2</string>
				<string>U.v2</string>
				<string>V.v2</string>
				<string>W.v2</string>
				<string>X.v2</string>
				<string>Y.v2</string>
				<string>Z.v2</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>zero</string>
		<string>one</string>
		<string>one_unit</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>B</string>
		<string>D</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
		<string>Z</string>
		<string>Acounter</string>
		<string>B-counter</string>
		<string>Ccounter</string>
		<string>D-counter</string>
		<string>Gcounter</string>
		<string>Hcounter</string>
		<string>Hsides</string>
		<string>M-counter</string>
		<string>Ocounter</string>
		<string>Xcounter</string>
		<string>Zcounter</string>
		<string>bifurcates</string>
		<string>ecounter</string>
		<string>half_unit</string>
		<string>pattern01</string>
		<string>three-counter</string>
		<string>J.mark</string>
		<string>N.mark</string>
		<string>R.mark</string>
		<string>S.mark</string>
		<string>T.mark</string>
		<string>U.mark</string>
		<string>C.mark</string>
		<string>G.mark</string>
		<string>ampersand.mark</string>
		<string>zero.v2</string>
		<string>one.v2</string>
		<string>two.v2</string>
		<string>three.v2</string>
		<string>four.v2</string>
		<string>five.v2</string>
		<string>six.v2</string>
		<string>seven.v2</string>
		<string>eight.v2</string>
		<string>nine.v2</string>
		<string>A.v2</string>
		<string>B.v2</string>
		<string>C.v2</string>
		<string>D.v2</string>
		<string>E.v2</string>
		<string>F.v2</string>
		<string>G.v2</string>
		<string>H.v2</string>
		<string>I.v2</string>
		<string>J.v2</string>
		<string>K.v2</string>
		<string>L.v2</string>
		<string>M.v2</string>
		<string>N.v2</string>
		<string>O.v2</string>
		<string>P.v2</string>
		<string>Q.v2</string>
		<string>R.v2</string>
		<string>S.v2</string>
		<string>T.v2</string>
		<string>U.v2</string>
		<string>V.v2</string>
		<string>W.v2</string>
		<string>X.v2</string>
		<string>Y.v2</string>
		<string>Z.v2</string>
	</array>
</dict>
</plist>
